
*{
    margin: 0;
    padding: 0;
    font-family: 'Gotham Rounded Book';
  }
  body{
    margin: 0;
    padding: 0;
  }
 img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
  }
  .menu button span{
    font-size: 14px;
    font-weight: 700;
     margin: 5px;
     padding: 0;
  }
 .menu button {
   margin-top: 5px;
   border: none;
   background-color:transparent;
   padding: 5px;
   border-radius: 5px; 
   cursor: pointer;
 }
 .menu button:hover{
    background-color: rgb(210, 232, 228);
 }
  .menu{
    background-color:transparent;
      display: flex;                  
      flex-direction: row;           
      flex-wrap: nowrap;            
      justify-content: space-between;
  }

  nav{
    background-color:transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding-top:10px ;
  }
.nav-left a {
    margin-left: 45px;
    text-decoration: none;
}
.material-symbols-outlined{
    padding-right: 50px;
    width: fit-content;
    background-color: transparent;
}
.home{
    width: 100%;
    object-fit: cover;

    margin-top: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.material-symbols-outlined{
     padding:3px; 
    border-radius: 4px;    
}
.material-symbols-outlined:hover{
background-color: rgb(148, 136, 121);
}

.nav-right{
background-color: transparent;
justify-content: space-between;
display: flex;
padding-right: 20px;
}
.nav-right span{
    cursor: pointer;
}
.model{
 position: absolute;
  justify-content:center ;
  top: 70px;
  left: 500px;
}
.model h1{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
}
.model-video video{
width: 100%; 
object-fit: cover;
height: 100vh;
}
.model-button{
position: absolute; 
top: 480px; 
left: 350px;
width: 530px;
height: fit-content;
display: flex; 
justify-content: space-between; 
}
.black-button{
  border-radius: 5px;
  height: 40px;
  width: 250px;
 border: none;
 background-color: rgb(23, 26, 32, 0.65);
  color: #ffffff;
  font-weight: 900px;
  cursor: pointer;
}
.white-button{
  border-radius: 5px;
  height: 40px;
   width: 250px;
 border: none;
 background-color: rgb(244, 244, 244, 0.8);
  color: #000000;
  cursor: pointer;

}
.model-button button span{
  font-weight: 400;
  font-size: larger;
}
.model-video{
  margin-top: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer{
  width: 100%;
  height: 70px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.footer ul{
  display: flex;
  justify-content: space-between;
  width:670px;
  margin: 10px;
  list-style: none;
}
footer ul li{
padding: 10px;
}
footer ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: smaller;
}
.white-button-hover {
  border-radius: 5px;
  height: 40px;
  width: 250px;
 cursor: pointer;
 border-color: #ffffff;
 border-style: solid;
 background-color: transparent;
 color: #ffffff;
 transition: all 1.5s ease;
}
.white-button-hover:hover{
  background-color: #ffffff;
  color: #000000;
  transform: 1.9;
}